.subtitle__conted {
    width: 100%;
    padding-top: 5rem;

    text-align: center;
    user-select: none;


    .title__conted {

        width: 100%;

        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .title1,
        .title2 {
            font-size: 2rem;
            padding-bottom: 1rem;

            color: var(--color__white);
            text-transform: uppercase;

            &::first-letter {
                color: var(--color__3);
            }

        }

        .title1 {
            position: relative;
            z-index: 1;
        }

        .title2 {
            font-size: 4rem;

            position: absolute;
            text-align: center;
            text-overflow:ellipsis;

            color: transparent;
            -webkit-text-stroke: 2px rgba(255, 0, 55, 0.306);
            user-select: none;

            &::first-letter {
                color: rgba(255, 255, 255, 0.528);
                user-select: none;
            }
        }

    }


    h5 {
        color: var(--color__grey);
        font-size: 1rem;
        text-transform: capitalize;
    }

}